body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* Header style */

.container{
    display: inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px);
}

.container:first-child{   
    margin-bottom: 50px;
}

.logo{
    float:left;
}

nav.main-nav{
    float:right;        
}

.main-nav > a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.main-nav > a:last-child{
    margin: 0;
}

.main-nav > a:hover{
    text-decoration: underline;
    text-decoration-color: #5D3C89;
}

.hamburger{
    display: none;
    float: right;
}

/* Main style */

.main-container{
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    margin-bottom: 80px;
}

.main-left-content{
    flex: 40%;
    margin:100px 0 25px 15px;
}

hr{
    width: 95px;
    margin: 4px;
    padding: 2px;
    background-color: #5D3C89;
}

@media (max-width: 1000px) {
    .container{
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
    .container:first-child, .footer-container{
        width:800px;
        margin: 0 calc(50% - 400px)
    }  
    .main-container{
        flex-flow:column;
        text-align: center;
    }
    .main-left-content{
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }
    .main-image{
        margin-bottom: 50px;
    }
    hr{
        margin-left: 25px;
    }
}

@media(max-width: 800px){
    .container:first-child, .footer-container{
        width:400px;
        margin: 0 calc(50% - 200px)
    }
    nav.main-nav{
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .main-nav a{
        display: block;
        color: white;
        padding: 10px 0 10px;
        background-color: black;
        width: 100%;
        border-bottom: 2px solid white;
    }

    .main-nav a:last-child{
        border-bottom: none;
    }

    nav.main-nav{
        display: none;
    }

    .hamburger{
        display: block;
    }   
}

.main-left-content > h1:first-child{
    font-weight:lighter;
}

.main-left-content > h1{
    font-size: 60px;
    line-height: 20px;
    margin-bottom: 35px;
}

.main-left-content > p{
    margin: 35px auto 50px 4px;
    color: gray;
}

.main-image{
    flex:58%;
    
}

/* Footer style */

.socials{
    float: left;
    margin-top: 10px;
}

.social-link{
    text-decoration: none;
    margin: 0 10px;
}

.copyright{
    float: right;
}

.fa{
    font-size: 25px;
    color: gray;
}

a.fa:hover{
    color:#5D3C89;
}