body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header style */

.container{
    display: inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px);
}

.container:first-child{   
    margin-bottom: 50px;
}

.logo{
    float:left;
}

.main-nav{
    float:right;        
}

.main-nav > a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.main-nav > a:last-child{
    margin: 0;
}

.main-nav > a:hover{
    text-decoration: underline;
    text-decoration-color: #5D3C89;
}

/* Main style */

.main-container{
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    margin-bottom: 80px;
}

.main-left-content{
    flex: 40%;
    margin:100px 0 25px 15px;
}

@media (max-width: 1000px) {
    .container{
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
    .container:first-child, .footer-container{
        width:800px;
        margin: 0 calc(50% - 400px)
    }  
    .main-container{
        flex-flow:column;
        text-align: center;
    }
    .main-left-content{
        margin-top: 0;
    }
    .main-image{
        margin-bottom: 50px;
    }
}

@media(max-width: 800px){
    .container:first-child, .footer-container{
        width:400px;
        margin: 0 calc(50% - 200px)
    }
}

.main-left-content > h1:first-child{
    font-weight:lighter;
}

.main-left-content > h1{
    font-size: 60px;
    line-height: 20px;
    margin-bottom: 35px;
}

hr{
    width: 95px;
    margin: 4px;
    padding: 2px;
    background-color: #5D3C89;
}

.main-left-content > p{
    margin: 35px auto 50px 4px;
    color: gray;
}

.content-button > a{
    border: 2px solid #5D3C89;
    border-radius: 30px;
    padding: 15px 45px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 150ms;
}

.content-button > a:hover{
    box-shadow: 0px 2px 4px 2px #0008;
}

.content-button > a:first-child{
    margin-right: 10px;
    background-color: #5D3C89;
    color: white;
    background-image: linear-gradient(black, #5D3C89);
}

.content-button > a:last-child{
    color: #5D3C89;
}

.main-image{
    flex:58%;
    
}

/* Footer style */

.socials{
    float: left;
    margin-top: 10px;
}

.social-link{
    text-decoration: none;
    margin: 0 10px;
}

.copyright{
    float: right;
}

.fa{
    font-size: 25px;
    color: gray;
}

a.fa:hover{
    color:#5D3C89;
}